/**/
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@media(min-width:1366px) {
    .container-sm {
        max-width: 1300px;
        width: 100%;
    }
}
@media(min-width:1500px) {
    .container-sm {
        max-width: 1480px;
        width: 100%;
    }
}
@media(min-width:1600px) {
    .container-sm {
        max-width: 1580px;
        width: 100%;
    }
}
@media(min-width:1800px) {
    .container-sm {
        max-width: 1780px;
        width: 100%;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline-offset: 0!important;
    outline: 0;
}
.wrapper{
	background-color: #EAEEF9;
	font-family: 'Open Sans', sans-serif !important;
	margin: 0;
	padding: 0;
}

/* Common Button css */
.orange_btn.btn{
	background: #fdc244;
    background: -moz-linear-gradient(top, #fdc244 0%, #ffbd31 25%, #ffb820 50%, #fdb210 75%, #faae0b 100%);
    background: -webkit-linear-gradient(top, #fdc244 0%,#ffbd31 25%,#ffb820 50%,#fdb210 75%,#faae0b 100%);
    background: linear-gradient(to bottom, #fdc244 0%,#ffbd31 25%,#ffb820 50%,#fdb210 75%,#faae0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc244', endColorstr='#faae0b',GradientType=0 );
	border: 0 none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
    letter-spacing: 0.5px;
	text-transform: capitalize;
	padding: 9px 40px;
}
.orange_btn.btn:hover,
.orange_btn.btn:focus{
	background: #fdc244;
    background: -moz-linear-gradient(top, #fdc244 0%, #ffbd31 25%, #ffb820 50%, #fdb210 75%, #faae0b 100%);
    background: -webkit-linear-gradient(top, #fdc244 0%,#ffbd31 25%,#ffb820 50%,#fdb210 75%,#faae0b 100%);
    background: linear-gradient(to bottom, #fdc244 0%,#ffbd31 25%,#ffb820 50%,#fdb210 75%,#faae0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc244', endColorstr='#faae0b',GradientType=0 );
	color: #ffffff;
}
.dark_btn.btn{
    background: #faae0b;
    background: -moz-linear-gradient(left, #faae0b 0%, #fdb210 25%, #ffb820 50%, #ffbd31 75%, #fdc244 100%);
    background: -webkit-linear-gradient(left, #faae0b 0%,#fdb210 25%,#ffb820 50%,#ffbd31 75%,#fdc244 100%);
    background: linear-gradient(to right, #faae0b 0%,#fdb210 25%,#ffb820 50%,#ffbd31 75%,#fdc244 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae0b', endColorstr='#fdc244',GradientType=1 );
    border: 2px solid #FEC13F;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 7px 25px;
}
.dark_btn.btn:hover,
.dark_btn.btn:focus{
    background: #faae0b;
    background: -moz-linear-gradient(left, #faae0b 0%, #fdb210 25%, #ffb820 50%, #ffbd31 75%, #fdc244 100%);
    background: -webkit-linear-gradient(left, #faae0b 0%,#fdb210 25%,#ffb820 50%,#ffbd31 75%,#fdc244 100%);
    background: linear-gradient(to right, #faae0b 0%,#fdb210 25%,#ffb820 50%,#ffbd31 75%,#fdc244 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faae0b', endColorstr='#fdc244',GradientType=1 );
    color: #ffffff;
}
.border_btn.btn{
    background: transparent;
    border: 2px solid #faae0b;
    border-radius: 5px;
    color: #ffae00;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 7px 25px;
}
.border_btn.btn:hover,
.border_btn.btn:focus{
    background: transparent;
    border: 2px solid #faae0b;
    color: #ffae00;
}
.yellow_btn.btn{
    background: #FFAE00;
    border: 2px solid #FFAE00;
    border-radius: 40px;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 10px 40px;
    transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -webkit-transition: all 0.7s ease-in-out 0s;
}
.yellow_btn.btn:hover,
.yellow_btn.btn:focus{
    background: transparent;
    border: 2px solid #FFAE00;
    color: #FFAE00;
}

/* Responsive css */
@media (max-width: 1199px){
	.orange_btn,
	.grey_btn{
		padding: 10px 40px;
	}
}
@media (max-width: 767px){
    .yellow_btn.btn{
        padding: 8px 25px;
    }
}
